		.upperBar{
			display: inline;
			position: fixed;
			background-color: black;
			width: 100vw;
			height: 5vw;
			top: 0px;
			padding-top: 0px;
			left: 0px;
			z-index: 1000;
		}
		
		.upperButton{
			display: inline-block;
			background: transparent;
			color: white;
			margin-top: 16px;
			margin-left: 20px;
			font-size: 17px;
			text-decoration: none;
		}
		
		.upperButton:hover{
			color: orange;
		}
		
		.webLogo{
			display: inline;
			position: fixed;
			background-clip: text;
			background: linear-gradient(to right, #f22c2c, #ffef08);
			color: transparent;
			-webkit-background-clip: text;
			z-index: 1000;
			-webkit-text-fill-color: transparent;
			animation: gradientAnimation 10s ease infinite;
			background-size: 200% 200%;
			left: 15px;
			top: -15px;
		}
		
		.grid{
			display: grid;
			grid-template-columns: 1fr 1fr 2fr;
			margin-top: 16vw;
			margin-left: 5vw;
		}
		
		.pageTitle{
			display: block; color:white; position: absolute; font-size: 60px; top: 2.2vw; left: 5.3vw;z-index: 500
		}
		
		.section{
			display: inline-block;
			background-color: transparent;
			border-radius: 20px;
			opacity: 100%;
			width: 26.5vw;
			height: 26.5vw;
			margin-right: 4.5vw;
			z-index: 1500;
			color: white;
			text-align: center;
		}
		
		.sectionTitle{
			display: inline-block;
			margin-top: 5px;
			z-index: 500;
		}
		
		.homeMessageBox{
			display: block;
			background-color: rgba(0,0,0,0.65);
			color: white;
			padding: 15px;
			width: 500px;
			margin-top: 20px;
			margin-left: 35px;
			z-index: 10;
		}
		